node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vercel
yarn.lock
package-lock.json
.env
.env.local


# add .github
.github

# exclude log files
*.log

launch.json

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
